<?xml version="1.0"?>

<RDF xmlns="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
     xmlns:em="http://www.mozilla.org/2004/em-rdf#">

  <Description about="urn:mozilla:install-manifest">
    <em:id>{0db34fe6-3e0e-4e0a-bce9-90c4816172cc}</em:id>
    <em:version>###VERSION###</em:version>

    <em:targetApplication>
      <Description>
        <em:id>{ec8030f7-c20a-464f-9b0e-13a3a9e97384}</em:id>
        <em:minVersion>###FF_MIN_VERSION###</em:minVersion>
        <em:maxVersion>###FF_MAX_VERSION###</em:maxVersion>
      </Description>
    </em:targetApplication>
    
    <em:name>Open Links</em:name>
    <em:description>Open links of the selection in tabs</em:description>

    <em:localized>
      <Description>
	<em:locale>fr-FR</em:locale>
	<em:name>Open Links</em:name>
	<em:description>Ouvrir les liens de la sélection dans des onglets</em:description>
	<em:creator>Jean-Noel Avila</em:creator>
	<em:contributor>Mathieu Avila </em:contributor>
      </Description>
    </em:localized>

    <em:creator>Jean-Noel Avila</em:creator>
    <em:contributor>Mathieu Avila </em:contributor>
    <em:homepageURL>http://aviblog.free.fr/openlinks.php</em:homepageURL>
    <em:updateURL>http://aviblog.free.fr/downloads/update.rdf</em:updateURL>
    <em:updateKey>MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCfceTqyIEn89Sn2FLbntuJdO8FIY/opMrMbgM8d4Zv55nznM6Xo7NjyA18RkD8bSpWjo1L8Z8xl3jY+ysuNLEAYJWCj0zAXI1vQaNsyQl7Z749251rK12AYIWI3D33NIX9yBC/Tpe8kK5QVipYvn4Qb10EliyYZ0GPBro+Do4wgwIDAQAB</em:updateKey>
    <em:iconURL>chrome://openlinks/content/icone.png</em:iconURL>
    <!--    <em:optionsURL>chrome://openlinks/content/prefOverlay.xul</em:optionsURL> -->

  </Description>      
</RDF>
